useDynLib(BMR)

importFrom(Rcpp, evalCpp)
import(doParallel)
import(foreach)
importFrom(parallel, makeCluster, stopCluster)
import(ggplot2)
importFrom(grid, grid.newpage, viewport, pushViewport, grid.layout)
importFrom("grDevices", "cairo_ps", "dev.list", "dev.off")
importFrom("stats", "acf", "dbeta", "dgamma", "dnorm", "dunif",
           "embed", "optim", "pacf", "qnorm", "rnorm", "runif", "sd",
           "var")

exportClasses("BVARM")
exportClasses("BVARS")
exportClasses("BVARW")
exportClasses("CVAR")
exportClasses("BVARTVP")

exportClasses("SDSGE")
exportClasses("gensys")
exportClasses("uhlig")

exportClasses("EDSGE")
exportClasses("DSGEVAR")

export(BVARM,BVARS,BVARW,CVAR,BVARTVP,gensys,uhlig,SDSGE,DSGESim,EDSGE,DSGEVAR,IRF,forecast,statespace,modecheck,states,prior,stationarity,gtsplot,gacf,gpacf)

S3method(BVARM,default)
S3method(BVARS,default)
S3method(BVARW,default)
S3method(BVARTVP,default)
S3method(CVAR,default)
S3method(gensys,default)
S3method(uhlig,default)
S3method(SDSGE,default)
S3method(EDSGE,default)
S3method(DSGEVAR,default)

S3method(plot, BVARM)
S3method(plot, BVARS)
S3method(plot, BVARW)
S3method(plot, BVARTVP)
S3method(plot, EDSGE)
S3method(plot, DSGEVAR)

S3method(IRF, BVARM)
S3method(IRF, BVARS)
S3method(IRF, BVARW)
S3method(IRF, BVARTVP)
S3method(IRF, CVAR)
S3method(IRF, gensys)
S3method(IRF, uhlig)
S3method(IRF, SDSGE)
S3method(IRF, EDSGE)
S3method(IRF, DSGEVAR)

S3method(forecast, BVARM)
S3method(forecast, BVARS)
S3method(forecast, BVARW)
S3method(forecast, CVAR)
S3method(forecast, EDSGE)
S3method(forecast, DSGEVAR)

S3method(modecheck, EDSGE)
S3method(modecheck, DSGEVAR)

S3method(states, EDSGE)
S3method(states, DSGEVAR)

S3method(statespace, gensys)
S3method(statespace, uhlig)
S3method(statespace, SDSGE)

S3method(DSGESim, gensys)
S3method(DSGESim, uhlig)
S3method(DSGESim, SDSGE)