useDynLib(BMR)

import(ggplot2)
importFrom(Rcpp, evalCpp)
importFrom(grid, grid.newpage, viewport, pushViewport, grid.layout)
importFrom("grDevices", "cairo_ps", "dev.list", "dev.off")
importFrom("stats", "acf", "embed", "optim", "pacf", "qnorm", "rnorm", "runif", "sd", "var")

exportClasses("Rcpp_bvarm")
exportClasses("Rcpp_bvars")
exportClasses("Rcpp_bvarcnw")
exportClasses("Rcpp_bvarinw")
exportClasses("Rcpp_cvar")
exportClasses("Rcpp_bvartvp")
exportClasses("Rcpp_gensys")
exportClasses("Rcpp_uhlig")
exportClasses("Rcpp_dsge_gensys")
exportClasses("Rcpp_dsgevar_gensys")

export(FEVD,IRF,IRFcomp,forecast,mode_check,prior,gtsplot)

exportPattern("^[[:alpha:]]+")

S3method(plot, Rcpp_bvarm)
S3method(plot, Rcpp_bvars)
S3method(plot, Rcpp_bvarcnw)
S3method(plot, Rcpp_bvarinw)
S3method(plot, Rcpp_bvartvp)
S3method(plot, Rcpp_dsge_gensys)
S3method(plot, Rcpp_dsgevar_gensys)

S3method(forecast, Rcpp_bvarm)
S3method(forecast, Rcpp_bvars)
S3method(forecast, Rcpp_bvarcnw)
S3method(forecast, Rcpp_bvarinw)
S3method(forecast, Rcpp_cvar)

S3method(mode_check, Rcpp_dsge_gensys)
S3method(mode_check, Rcpp_dsgevar_gensys)
